.modal__menu__list {
  padding: 20px 0;
  .btn-close-menu {
    cursor: pointer;
    position: relative;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 20px;

    &:before {
      content: '';
      background: url("./assets/Vector.svg") no-repeat center;
      width: 20px;
      height: 20px;
      display: block;
      transform: rotate(90deg);
    }
  }

  &::backdrop {
    opacity: 0.5;
    background: #fff;
    transition: opacity 150ms;
  }
}

.modal-menu__content {
  .layout {
    padding: 0 20px;

    @include breakpoint(desktop) {
      padding: 0 30px;
    }
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @include breakpoint(desktop) {
      display: flex;
    }
  }

  .gallery__item {
    width: 100%;
    height: 165px;

    @include breakpoint(desktop) {
      height: 304px;
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .menu__heading {
    font-weight: 900;
    font-size: 28px;
    color: #000000;
    margin-bottom: 10px;
    display: block;
    margin: auto;

    @include breakpoint(desktop) {
      margin-bottom: 14px;
    }
  }

  .menu__title, .menu__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
  }

  .menu__quantity, .menu__calories {
    font-size: 11px;
    line-height: 20px;
    color: #000000;
  }

  .menu__ingredients {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }

  .menu__item {
    border-bottom: 1px solid #C4C4C4;
    padding: 20px 0 20px;
  }

  .menu__item__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .menu__description {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 5px;
  }

  .modal__main__container {
    margin: 30px auto 30px auto;
    max-width: 1245px;
  }

  .menu__list {
    @include breakpoint(desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }


}